// Page Home
#page-home {
  #home-accordion {
    padding-top: 2px;
  }

  .accordion-button {
    justify-content: center;
    font-size: inherit;
    font-weight: inherit;
    text-transform: inherit;

    &:not(.collapsed) {
      box-shadow: none;
    }
  }

  .accordion-body {
    padding: $pad;
    background-color: #efefef;
  }
}
